---
export interface Props {
  image: string;
  title: string;
  body: string;
  button: string;
  delay: string;
}

const { title, body, image, button, delay } = Astro.props;
---

<figure class="Path__card" data-aos="zoom-in" data-aos-delay={delay}>
  <img src={image} alt={title} />
  <figcaption>
    {title}
  </figcaption>
  <p class="Path__card--body">
    {body}
  </p>
  <footer class="footer-card">
    <button class="btn btn-blue">{button}</button>
  </footer>
</figure>
