---
export interface Props {
  image: string;
  title: string;
  body: string;
  price: string;
  delay: string;
}

const { title, body, image, price, delay } = Astro.props;
---

<figure class="card" data-aos="flip-left" data-aos-delay={delay}>
  <img src={image} alt={title} />
  <figcaption>
    {title}
  </figcaption>
  <p class="card-body">
    {body}
  </p>
</figure>
